[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
biolinkml = { git = "https://github.com/biolink/biolinkml" }
pyld = {editable = true, git = "https://github.com/hsolbrig/pyld"}
rdflib-pyld-compat = "*"

[dev-packages]
mkdocs = "*"

[requires]
python_version = "3.9"
